*,
*::before,
*::after {
    box-sizing: border-box;
}

:root{
    --ff-primary: 'Lora', serif;
    --ff-secondary: 'Roboto Slab', serif;

    --fw-reg: 400;
    --fw-bold: 700; 

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent:#f8333c;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
    --bsw: 0.25em 0.25em 0.75em rgba(245, 245, 245, 0.25),
          0.125em 0.125em 0.25em rgb(255, 255, 255);
}

@media (min-width: 800px) {
    :root{
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

html, body{
    scroll-behavior: smooth !important;
}

body{
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

ul{
    list-style: none;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong {
    font-weight: var(--fw-bold);
}

:focus{
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

.body-dark{
    background-color: var(--clr-dark);
    background: var(--clr-dark);
}

.btn{
    display: inline-block;
    padding: .9em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-light);
    cursor: pointer;
    text-decoration: none;
    font-size: .9rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
    margin-bottom: 4em;
    margin-top: 20px;
}

.btn:hover{
    transform: scale(1.1);
}

/* Typography */

h1,
h2,
h3 {
    line-height: 1.1;
    margin:0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

.section_title{
    margin-bottom: .25em;
    color: var(--clr-light);
    font-size: 2.5em;
}

.section_title-about{
    color: var(--clr-dark);
    padding-left: 10px;
}

.section_title-intro {
    font-weight: var(--fw-reg);
    padding: 0;
    margin-left: -30px;
}

.section_title-intro strong{
    display: inline-block;
}

.section_subtitle{
    padding: 0;
    margin: 0;
    font-size: var(--fs-h3);
    color: var(--clr-light);
}

.section_subtitle-intro,
.section_subtitle-about{
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

.section_subtitle-work{
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

/* header */
header{
    display: flex;
    justify-content: space-between;
    padding-left: 1em;
    position: fixed;
    width: 100%;
    z-index: 2; 
    background-color: var(--clr-dark);
}

.turn{
    background-color:var(--clr-dark);
}

.logo{
    position: relative;
    max-width: 100px;
}

.logo img{
    z-index: 2
    /* padding-top: -10vh; */
}
.nav {
    display:flex;
    justify-content: right;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: var(--clr-light);
    height:45px;
    width: 100%;
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1); 
}

.right-side{
    display: flex;
    background-color: var(--clr-dark);
    padding: 30px 0;
    justify-content: center;
}

.nav_list{
    justify-content: space-between;
    flex-direction:row;
    list-style: none;
    padding-right: 40px;
    padding-left: 40px;
    margin-right: 20px;
    height: 22px;
}


.nav > .right-side > div{
    margin-right:50px;
 }
 
a {
    text-decoration: none;
}

.nav_list a:hover{
    border-bottom: 1px var(--clr-accent) solid;
    color: var(--clr-accent2);
    transition: border-bottom, color 0.5s;
}

.nav_link{
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-body);
}

.nav-toggle{
    display: none;
}


@media(max-width: 960px){
    .right-side{
        display: block;
        height: 300px;
    }

    .nav-toggle{
        display: block;
        padding: .5em;
        background: transparent;
        border: 0;
        cursor: pointer;
        position: absolute;
        right: 1em;
        top: 1em;
        z-index: 1000;
    }

    .nav {
        display: flex;
        background: var(--clr-dark);
        z-index: 100;  
        max-width: 50%;
        padding: 20px 0 0 0;
        transform: translateX(200%);
        transition: transform 0ms cubic-bezier(.5, 0, .5, 1); 
    }

    .nav_list {
        display: flex;
        flex-direction:column;
        justify-content: space-evenly;
        align-items: center;   
        text-align: center;    
        padding: 40px 0 50px 30px;
    }

    .nav-link{
        font-size: var(--fs-h3);
    }

    .nav-open .nav{
        transform: translateX(100%);
     }
     
     .nav-open .nav-toggle{
         position: fixed;     
     }
     
     .nav-open .hamburger{
         transform: rotate(.625turn);
     }
     
     .nav-open .hamburger::before{
         transform: rotate(90deg) translateX(-6px);
     }
     
     .nav-open .hamburger::after{
       opacity: 0;
     }
}


/* Hamburger */
.hamburger{
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after{
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform, 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    background: var(--clr-accent);
}

.hamburger::before{
    top: 6px;
}

.hamburger::after{
    bottom: 6px;
}


/* Intro section */

.intro {
    position: relative;  
    padding-top: 200px;
    color:var(--clr-light);
    min-height: 100vh;
}

.section_subtitle-intro{
    display: inline-block;
    /* margin-bottom: 150px; */
}

.social-list2 {
    list-style: none;
    display: inline-flex;
    /* flex-direction: row;
   transform: translateX(48%); */
    padding: 0;
    font-size: var(--fs-h2);
}

.social-list_item2{
    color: var(--clr-accent);
    text-align: center;
    margin: 0 auto; 
}

.social-list2 a{
    color: var(--clr-accent);   
}

@media (min-width: 600px){
 
    .intro{
        display:grid;
        width: max-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: max-content;
    }


    .section_subtitle-intro{
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align:center;
        position: relative;
        left: -0.5em;
        width: calc(90% + 1.5em);
    }

    .social-list2 {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align:center;
        position: relative;
        padding-top: 1.5em;
        left: -1em;
        width: calc(100% + 1.5em);
    } 
   
     .section_title-intro {
        font-weight: var(--fw-reg);
        padding: 0;
        margin-left: -10px;
    }
}


/*About me*/
.about-me{
    background: #fff;
    min-height: 80vh;
    padding-left:0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 80px;
}

.about-me-header{
    min-height: 50vh;
    padding-top: 10px;
}

.about-me_body{
    width:51%;
    margin: 0 auto; 
    background: #fff;
    padding: 0;
}

.section_title-about{
    text-align: center;
}

.section_subtitle-about{
    width:51%;
    margin: 0 auto; 
}


/*  My skills section  */

.my-skills {
    background-color: var(--clr-dark);
    background-image: url(../images/services-bg.jpg);
    background-size: cover;
    width: 100%;
    /* background-blend-mode: multiply; */
    color: var(--clr-light);
    text-align: center;
    height: 15vh;
    padding-top: 10px;
}

.section_title-skills {
    color: var(--clr-accent);
    position: relative;
}

.section_title-skills::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}

.skill {
    max-width: 500px;
    margin: 0 auto;
}

.skills {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.skill_img{
margin-top: 10px;
}


@media (min-width: 800px) {
    
    .skill + .skill {
        margin-left: 2em;
    }

}


/* My work */

.my-work{
    text-align: center;
    background-color: var(--clr-dark);
    color: var(--clr-light);
    padding-bottom: 2vh;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-items: center;   
}

.portfolio_item{
    overflow: hidden;
    margin-right: 10px;   
    margin-bottom: 10px;
}

.portfolio_img{
    margin-top: -80px;
    transition: 
    transform 750ms cubic-bezier(.5, 0, .5, 1),
    opacity 250ms linear;
    height: 350px;
    width: 500px;
}

.portfolio_item:focus{
    position: relative;
    z-index: 2;
}

.portfolio_img:hover,
.portfolio_item:focus .portfolio_img {
    transform: scale(1.2);
    opacity: .5;
}

.workLinks{
    position: relative;
    color: var(--clr-light);
    top: 35%;
    justify-content: center;
    font-weight: var(--fw-bold);
    background: hsla(0, 4%, 17%, 0.8);
    font-size: 1.5em;
    padding: 10px 50px;
    border-radius: 2%;
}

.desc{
    position: relative;
    
    color: var(--clr-light);
    /* justify-content: center; */
    font-weight: var(--fw-bold);
    background: rgb(0, 0, 0);
    font-size: 1.5em;
    /* padding: 5px 10px; */
    border-radius: 2%;
    height: 50px;
}

.lang_img{
    display: inline;
    float: left;
}

.portfolio a {
    text-decoration: none;
    padding: 0;
}



/* Arrow */
/* .arrow{
    position: fixed;
    bottom: 0;
    font-size: var(--fs-h2);
    border-radius: 10px;
    color: white;
    width: 100%;
   
} */
.pageUp{
    position: absolute;
    background-color: #f8333c;
    width: 50px;
    height: 50px;
    cursor: pointer;
    right: 0;
    display: block;
}


/* Footer */
.footer{
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: .1em 0;
    font-size: var(--fs-h3);
    position: relative;
}

footer p{
    font-size: var(--fs-body);
}
.footer a {
    color: inherit;
    text-decoration: none;
}

.footer_link {
    font-weight: var(--fw-bold);
}

.footer_link:hover,
.social-list_link:hover, .social-list_link2:hover{
    opacity: .7;
    transition: transform 200ms ease-in-out;
}

.footer_link:hover{
    text-decoration: underline;
    transition: transform 200ms ease-in-out;
}

.social-list{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list_item{
    margin: 0 0.5em;
}

.social-list_link{
    padding: .5em;
}
