*, ::after, ::before{
    box-sizing: border-box;
}

.main-container{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
    padding-top: 50px;
}

.search-bar-container{
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.search-bar-container input{
    font-size: 20px;
    margin: 0px;
    padding: 0em !important;
}

.search-bar-container mat-icon{
    font-size: 25px;
}

.card {
    display: block;
    margin-bottom: 25px;
}

.addBtn button mat-icon{
    font-size: 25px;
}

.addBtn {
    float: right;
    margin-left: 10px;
}

.addBtn mat-icon{
    bottom: 2px;
}


/* Note Card */
.note-card-container{
    transition: box-shadow 0.2s ease-out;
}

.note-card-container mat-card-title{
    color:#3f51b5;
}
   
.mat-card:not([class*=mat-elevation-z]):hover {
    cursor: pointer;

    box-shadow: 0 2px 1px -1px rgba(62, 56, 251, 0.644), 
                0 1px 1px 0 rgba(62, 56, 251, 0.644), 
                0 1px 3px 0 rgba(62, 56, 251, 0.644);
}

/* .note-card-container:hover .delete-button-container{
    opacity: 1;
    transition-delay: 0.35s; 
  
} */


/* Delete Button */
.delete-button-container{
    display: flex;
    justify-content: center;
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
    /* opacity: 0; */
    transform:scale(1);
}

.delete-button-container button:hover{
    background-color: rgba(255, 192, 203, 0.584);
    transform: scale(1.20);
}

.delete-button-container button:active{
    background-color: rgba(255, 192, 203, 0.293);
}

/* Card Body */
.note-card-container mat-card-content{
    position: relative;
    color: #555;
    max-height: 70px;
    overflow: hidden;
}

.fade-out-truncation{
    position: absolute;
    pointer-events: none;
    bottom: 0;
    height: 50%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255,255,255, 0), 
    rgba(255,255,255, 1) 90%);
}

/* Add Form */
.form-container{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin: 0 auto;
    width: 100%;
}

.form-field{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem!important;
    padding-top: 20px;
    width: 100%;
} 

.form-field input{
    display: block;
    width: 100%;
    background-clip: padding-box;
}

textarea {
    /* You could leave this, but after a user resizes, then it ruins the auto sizing */
    resize:both;
    /* Firefox shows scrollbar on growth, you can hide like this. */
    overflow: auto;
    height: fit-content;
}

/* Form Buttons */
.buttons{
    display: block;
    float: right;
}

.mat-green{
    background-color: #43a047;
    color: white;
}

.form-field textarea{
    height: 100px;
}

.form-field mat-label{
    font-size: 1.2rem;
}

.form-field input, textarea{
    font-size: 1.2rem;
}

::ng-deep .cdk-overlay-pane .mat-dialog-container{
    width: 400px;
}