/* Page Layout */
.layout-box{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
  }
  
  .layout-box .page-content{
    flex-grow: 1;
    overflow-y: scroll;
  }
  
  /* Top Bar */
  .top-bar{
    width:100%;
    display: flex;
    flex-shrink: 0;
    box-shadow: 0px 0px 10px rgba(black, 0.15);
  }
  /* Center child element (the heading) */
  .main-title{
    text-align: center;
    display: inline-block;
    width: 100%;
  }
  
  .example-spacer {
      flex: 1 1 auto;
   }